<div class="menu">
    <ul>
        <li class="logo"><img src="/images/sayna.jpg" /></li>
        <li class="menu-link"><a href="/">Home</a></li>
        <li class="menu-link"><a href="/backend">BackEnd</a></li>
        <li class="menu-link"><a href="/frontend">FrontEnd</a></li>
        <li class="menu-link"><a href="/marketing">Marketing Digital</a></li>
        <li class="menu-link"><a href="/uxui">UX/UI</a></li>
        <li class="menu-link"><a href="/contact">Contact</a></li>
        <!-- <li> <a href = "#" class="signup-btn"> <span> Sign Up </span> </a> </li> -->
    </ul>
</div>
