<!DOCTYPE html>
<html lang="fr">
<%- include("partials/_head.ejs") %>

<body>
	<div class="toast d-none">
	</div>
	<div class="container">
		<%- include('./partials/_menu') %>
	<div class="banner">
		<div class="app-text">
			<h1>
				D-CLIC <br />
				Venez nous voir
			</h1>
			<p>Prenez contact avec nous.</p>
			<!-- <div class="play-btn">
																												                    <div class="play-btn-inner">
																												                        
																												                    </div>
				</div> -->
		</div>
		<div class="app-picture app-picture-contact">
		<img src="images/image_contact.jpg" />
		</div>
		</div>
	<div class="contact">
		<h2 class="text-center">Notez la formation</h2>
		<form action="/avis" method="post">
			<label for="fname">First Name *</label>
		<input type="text" id="fname" name="firstname" placeholder="Your name.." required />
		<div class="errors" id="fnameError"></div>

		<label for="lname">Last Name *</label>
		<input type="text" id="lname" name="lastname" placeholder="Your last name.." required />
		<div class="errors" id="lnameError"></div>

		<label for="avis">Votre avis *</label>
		<input type="text" id="avis" name="avis" placeholder="donnez votre avis sur la formation.." required />
		<div class="errors" id="avisError"></div>

		<label for="Note">Note *</label>
		<input type="number" id="Note" name="note" min="1" max="5" placeholder="votre note .." required />
		<div class="errors" id="noteError"></div>

		<label for="formation">Formation</label>
		<select id="formation" name="formation" required>
			<option value="Frontend">Frontend</option>
			<option value="Backend">Backend</option>
			<option value="Marketing">Marketing</option>
			<option value="UX-UI">UX-UI</option>
		</select>

		<input type="submit" value="Submit" />
		</form>
		</div>
	</div>
		<%- include('js/contact') %>
		</body>
</html>
