<!DOCTYPE html>
<html lang="fr">

<%- include("partials/_head.ejs") %>

<body>

	<div class="container">
		<%- include('./partials/_menu') %>

		<div class="banner">
			<div class="app-text">
				<h2> D-CLIC <br> Venez coder le serveur avec nous </h2>
				<p>Devenir spécialistes du développement web côté client, <br> ici c’est votre espace </p>
				<!-- <div class="play-btn">
												                    <div class="play-btn-inner">
												                        
												                    </div>
				</div> -->
			</div>
			<div class="app-picture app-picture-frontend">
				<img src="images/image_frontend.jpg">
			</div>
		</div>
		<div class="box">
			<div class="flip-box">
				<div class="flip-box-inner">
					<div class="flip-box-front">
						<h2>Avis des utilisateurs sur le frontend</h2>
					</div>
					<div class="flip-box-back">
					</div>
				</div>
			</div>
			<div id="avisDisplay" class="avisDisplay"></div>
		</div>
	</div>
	<%- include('js/frontend.ejs') %>
</body>
</html>
