<!DOCTYPE html>
<html lang="fr">

<%- include("partials/_head.ejs") %>

<body>
	<div class="container">
		<%- include('./partials/_menu') %>
		<div class="banner">
			<div class="app-text">
				<h1> D-CLIC <br> Venez coder avec nous </h1>
				<p>Apprendre à coder : du plaisir pour tout le monde ! <br> Connaître le codage, ce n'est pas
					seulement
					<br> satisfaire notre curiosité. <br> Il est probable que l'avenir de l'humanité en dépend.
				</p>
				<!-- <div class="play-btn">
												                    <div class="play-btn-inner">
												                        
												                    </div>
				</div> -->
			</div>
			<div class="app-picture app-picture-index">
				<img <img src="images/photo.jpg">
			</div>
		</div>
		<div class="box">
			<div class="flip-box">
				<div class="flip-box-inner">
					<div class="flip-box-front">
						<h2>Les meilleures notes des formations</h2>
						<div id="avisDisplay" class="avisDisplay"></div>
					</div>
					<div class="flip-box-back">
						<h2>Suite</h2>
					</div>
				</div>
			</div>
		</div>
	</div>
<%- include('js/index.ejs') %>
</body>

</html>
