<!DOCTYPE html>
<html lang="fr">

<%- include("partials/_head.ejs") %>

<body>

	<div class="container">
		<%- include('./partials/_menu') %>

		<div class="banner">
			<div class="app-text">
				<h3> D-CLIC <br> Venez voir avec nous les supports et canaux digitaux <br>pour promouvoir des produits
					et services. </h3>
				<p>Marketing digital ou marketing numérique ? <br> C’est métier un avenir englobant la technologie <br>
					et le commerce.</p>
				<!-- <div class="play-btn">
																				                    <div class="play-btn-inner">
																				                        
																				                    </div>
				</div> -->
			</div>
			<div class="app-picture app-picture-marketing">
				<img src="images/image_marketing.jpg">
			</div>
		</div>
		<div class="box">
			<div class="flip-box">
				<div class="flip-box-inner">
					<div class="flip-box-front">
						<h2>Avis des utilisateurs sur le Marketing</h2>
					</div>
					<div class="flip-box-back">
					</div>
				</div>
			</div>
			<div id="avisDisplay" class="avisDisplay"></div>
		</div>
	</div>
	<%- include('js/marketing.ejs') %>
</body>

</html>
