<!DOCTYPE html>
<html lang="fr">

<%- include("partials/_head.ejs") %>

<body>
	<div class="container">
		<%- include('./partials/_menu') %>
		<div class="banner">
			<div class="app-text">
				<h2> D-CLIC <br> Venez avec nous pour offir une bonne optimisation, satisfaction et comprendre l'attente
					de l'utilisateur. </h2>
				<p>Ici c'est l’interaction entre un utilisateur et <br> les éléments de conception d’une application</p>

				<!-- <div class="play-btn">
																				                    <div class="play-btn-inner">
																				                        
																				                    </div>
				</div> -->
			</div>
			<div class="app-picture app-picture-uxui">
				<img src="images/image_ux_ui.jpg">
			</div>
		</div>
		<div class="box">
			<div class="flip-box">
				<div class="flip-box-inner">
					<div class="flip-box-front">
						<h2>Avis des utilisateurs le uxui</h2>
					</div>
					<div class="flip-box-back">
					</div>
				</div>
			</div>
			<div id="avisDisplay" class="avisDisplay"></div>
		</div>
	</div>
	<%- include('js/uxui.ejs') %>
</body>

</html>
