* {
	font-family: sans-serif;
	box-sizing: border-box;
  }
  body {
	margin: 0;
	padding: 0;
	min-height: 100%;
	background: #f5f5f7;
	padding-bottom: 80px;
  }
  .container {
	width: 90%;
	height: 100%;
	margin: auto;
  }
  
  /*
  * Menu
  */
  .menu {
	display: flex;
	justify-content: space-between;
	width: 90%;
	margin: auto;
	margin-top: 80px;
  }
  .menu ul {
	display: inline-flex;
	align-items: center;
	list-style: none;
	margin: 0;
	padding: 0;
  }
  
  .menu ul li {
	list-style: none;
  }
  
  .menu ul .menu-link a {
	margin: 0 30px;
	display: inline-block;
	text-decoration: none;
	color: #0e0101;
  }
  .menu ul .menu-link a:visited {
	color: #0e0101;
	text-decoration: none;
  }
  
  .menu ul .menu-link a:hover {
	color: #19dafa;
	text-decoration: none;
  }
  
  .logo {
	margin: 0;
  }
  .logo img {
	width: 200px;
	display: block;
  }
  
  /*
  * Banner
  */
  .banner {
	width: 80%;
	margin: auto;
	display: flex;
	height: 70%;
  }
  /*
  * Banner Text
  */
  .app-text {
	width: 70%;
  }
  .app-text h1 {
	font-size: 40px;
	width: 500px;
	position: relative;
	margin-left: 20px;
  }
  .app-text p {
	font-size: 20px;
	margin: 30px 0 30px 20px;
	line-height: 30px;
	color: #0c0c0c;
  }
  
  /*
  * Banner Img
  */
  .app-picture {
	width: 50%;
  }
  
  .app-picture-uxui img {
	width: 100%;
  }
  
  .app-picture-index img {
	width: 100%;
  }
  
  .app-picture-frontend img {
	width: 100%;
  }

  .app-picture-marketing img {
	width: 100%;
  }

  .app-picture-backend img {
	width: 100%;
  }

  .app-picture-contact img {
	width: 100%;
  }
  /*
  * Flip BOX
  */
  .box {
	width: 80%;
	margin: auto;
	font-family: Arial, Helvetica, sans-serif;
	height: 300px;
	display: flex;
	justify-content: space-between;
	align-items: center;
  }
  
  .flip-box {
	background-color: transparent;
	width: 400px;
	height: 100%;
	border: 1px solid #f1f1f1;
	perspective: 1000px;
  }
  
  .flip-box-inner {
	position: relative;
	width: 100%;
	height: 100%;
	text-align: center;
	transition: transform 0.8s;
	transform-style: preserve-3d;
  }
  
  .flip-box:hover .flip-box-inner {
	transform: rotateY(180deg);
  }
  
  .flip-box-front,
  .flip-box-back {
	position: absolute;
	width: 100%;
	height: 100%;
	-webkit-backface-visibility: hidden;
	backface-visibility: hidden;
}

.flip-box-front {
	background-color: #bbb;
	color: black;
}

.flip-box-back {
	  background-image: url('../images/sayna.jpg');
	  background-size: contain;
	background-color: dodgerblue;
	color: white;
	transform: rotateY(180deg);
  }
  
  /*
  * Input Text for contact
  */
  
  .contact{
	width: 80%;
	margin: auto;
  }
  input[type="text"],
  select {
	width: 100%;
	padding: 12px 20px;
	margin: 8px 0;
	display: inline-block;
	border: 1px solid #ccc;
	border-radius: 4px;
	box-sizing: border-box;
  }
  
  input[type="number"],
  select {
	width: 100%;
	padding: 12px 20px;
	margin: 8px 0;
	display: inline-block;
	border: 1px solid #ccc;
	border-radius: 4px;
	box-sizing: border-box;
  }
  
  input[type="submit"] {
	width: 100%;
	background-color: #4caf50;
	color: white;
	padding: 14px 20px;
	margin: 8px 0;
	border: none;
	border-radius: 4px;
	cursor: pointer;
  }
  
  input[type="submit"]:hover {
	background-color: #45a049;
  }
  
  div {
	border-radius: 5px;
	background-color: #f2f2f2;
  }

.errors{
	color: red;
	font-size: small;
	text-align: center;
	padding: 0;
}

/*
* AVIS
*/
#avisDisplay{
	width: 400px;
	overflow: scroll;
	height: 100%;
	padding-top: 10px;
	padding-left: 10px;
	padding-bottom: 10px;
}
.avis-container{
	margin-bottom: 20px;
}
.avis-container  div{
	padding: 5px;
	background-color: #050c29;
	color: white;
	border-radius: 0;
}
.head-avis{
	display: flex;
	justify-content: space-between;
}
.avis-author{
	font-weight: 600;
}
.formation{
	text-align: center;
	font-weight: 500;
	margin: 5px 0;
}
.text-center{
	text-align: center;
}